.example-large{
    border: solid red 4px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;
}


@media screen and (max-width: 992px) {
    .example-large{
        border: solid violet 4px;
    }

}
@media screen and (max-width: 768px) {
    .example-large{
        border: solid orange 4px;
    }

}